<div class="row">
  <div class="col s12">
    <h3>Registro</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <label for="user[email]">Email</label>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <label for="user[password]">Contraseña</label>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="field">
        <label for="user[password_confirmation]">Repetir contraseña</label>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="actions">
        <%= f.submit "Registrar", class: 'waves-effect waves-light btn light-green' %>
      </div>
    <% end %>
  </div>
</div>
