<%= javascript_include_tag "/assets/mm_order" %>
<% if (current_user.calories == 0 || current_user.calories == nil) %>
<div class="row">
  <div class="col s12">
    <h3>Pedido</h3>
    <p>Necesitas generar tu objetivo para pedir!</p>
    <p><%= link_to 'Generar objetivo', '/objective', class:'waves-effect waves-light btn' %></p>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col s12">
    <h3>Pedido</h3>
    <strong>Calorías</strong>
    <div class="pb js-pb-calories">
      <div class="pb-bar">
        <div class="pb-label">
          0/<%= current_user.calories %>
        </div>
      </div>
    </div>

    <strong>Proteínas</strong>
    <div class="pb js-pb-protein">
      <div class="pb-bar">
        <div class="pb-label">
          0/<%= current_user.protein %>
        </div>
      </div>
    </div>

    <strong>Grasas</strong>
    <div class="pb js-pb-fat">
      <div class="pb-bar">
        <div class="pb-label">
          0/<%= current_user.fat %>
        </div>
      </div>
    </div>

    <strong>Carbohidratos</strong>
    <div class="pb js-pb-carbs">
      <div class="pb-bar">
        <div class="pb-label">
          0/<%= current_user.carbs %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- order -->
<div class="row">
  <div class="col s12">
    <div class="js-order">

      <ul class="collection js-collection">
        <!-- js content -->
      </ul>
      <a class="js-addMeal waves-effect waves-light btn">
        <i class="material-icons left">add</i>
        Nueva Comida
      </a>
      <div class="right">
        <h5 class="js-total">Total: 0.00 €</h5>
        <a class="js-buy waves-effect waves-light btn grey disabled right">
          <i class="material-icons left">shopping_basket</i>
          Comprar
        </a>
      </div>

      <!-- modal -->
      <div class="modal modal-fixed-footer">
        <div class="modal-content">
          <h3>Productos</h3>
          <ul class="collection js-products">
            <!-- js content -->
          </ul>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-light btn red">Cerrar</a>
        </div>
      </div>

    </div>
  </div>
</div>
<% end %>
