<%= javascript_include_tag "/assets/mm_objective" %>
<% u = current_user %>
<div class="row">
  <div class="col s12">
    <h2>Objetivo</h1>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header light-green white-text">
          <i class="material-icons">info</i>En qué consiste?
        </div>
        <div class="collapsible-body">
          <p><b>macromeal</b> te ayuda a cumplir con tu objetivo físico personal! (<em>ganar músculo, perder grasa, etc</em>)</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header light-green white-text">
          <i class="material-icons">search</i>Cómo funciona?
        </div>
        <div class="collapsible-body">
          <p>Solo tienes que introducir tus propiedades físicas en tu perfil (<em>sexo, edad, altura, peso y actividad física)</em> y generar el objetivo deseado simplemente pulsando un botón.</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header light-green white-text">
          <i class="material-icons">done</i>Qué validez tiene?
        </div>
        <div class="collapsible-body">
          <p><b>macromeal</b> aplica la famosa <%= link_to 'ecuación de Harris Benedict', 'https://en.wikipedia.org/wiki/Harris%E2%80%93Benedict_equation' %> para calcular tu metabolismo basal (<em>la cantidad de calorías que el cuerpo consume diariamente</em>) y calcula la modificación necesaria sobre ella para la realización del objetivo.</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col m6 s12 center">
    <% if user_signed_in? %>
      <h3>Tu objetivo diario</h3>
      <ul class="collection">
        <li class="collection-item">Calorías: <%= u.calories %></li>
        <li class="collection-item">Proteínas: <%= u.protein %></li>
        <li class="collection-item">Grasas: <%= u.fat %></li>
        <li class="collection-item">Carbohidratos: <%= u.carbs %></li>
      </ul>
    <% else %>
      <p>Necesitas iniciar sesión para generar tu objetivo.</p>
      <p><%= link_to 'Iniciar sesión', new_user_session_path, class:'waves-effect waves-light btn' %></p>
    <% end %>
  </div>
  <div class="col m6 s12 center">
    <% if user_signed_in? %>
      <h3>Tus datos físicos</h3>
      <ul class="collection">
        <li class="collection-item">Sexo:
          <% if u.sex == 0 %>
            Masculino
          <% else %>
            Femenino
          <% end %>
        </li>
        <li class="collection-item">Edad: <%= u.age %></li>
        <li class="collection-item">Altura: <%= u.height %></li>
        <li class="collection-item">Peso: <%= u.weight %></li>
        <li class="collection-item">Actividad:
          <% if u.activity == 0 %>
            Sedentario
          <% elsif u.activity == 1 %>
            Levemente activo
          <% elsif u.activity == 2 %>
            Moderadamente activo
          <% elsif u.activity == 3 %>
            Muy activo
          <% else %>
            Hiperactivo
          <% end %>
        </li>
      </ul>
      <%= link_to 'Modificar perfil', edit_users_path, class: 'waves-effect waves-light btn' %>
    <% else %>
      <p>No tienes cuenta?</p>
      <p><%= link_to 'Registro', new_user_registration_path, class:'waves-effect waves-light btn' %></p>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
<div class="row center">
  <h3>Elige un objetivo</h3>
    <% if u.sex != nil && u.age != nil && u.height != nil && u.weight != nil && u.activity != nil %>
      <div class="col m4 s12 center">
        <h4>Definición</h4>
        <form action="<%= users_generate_objective_path %>" method="post">
          <input type="number" name="objective" value="0" hidden>
          <input type="number" name="protein" value="35" hidden>
          <input type="number" name="fat" value="25" hidden>
          <input type="number" name="carbs" value="40" hidden>
          <button class="js-gen-obj waves-effect waves-light btn lime" type="submit">DEFINICION</button>
        </form>
        <p><b>Proteínas 35% / Grasas 25% / Carbohidratos 40%</b></p>
      </div>
    <div class="col m4 s12">
      <h4>Mantenimiento</h4>
      <form action="<%= users_generate_objective_path %>" method="post">
        <input type="number" name="objective" value="1" hidden>
        <input type="number" name="protein" value="30" hidden>
        <input type="number" name="fat" value="25" hidden>
        <input type="number" name="carbs" value="45" hidden>
        <button class="js-gen-obj waves-effect waves-light btn" type="submit">MANTENIMIENTO</button>
      </form>
      <p><b>Proteínas 30% / Grasas 25% / Carbohidratos 45%</b></p>
    </div>
    <div class="col m4 s12">
      <h4>Volumen</h4>
      <form action="<%= users_generate_objective_path %>" method="post">
        <input type="number" name="objective" value="2" hidden>
        <input type="number" name="protein" value="25" hidden>
        <input type="number" name="fat" value="20" hidden>
        <input type="number" name="carbs" value="55" hidden>
        <button class="js-gen-obj waves-effect waves-light btn green" type="submit">VOLUMEN</button>
      </form>
      <p><b>Proteínas 25% / Grasas 20% / Carbohidratos 55%</b></p>
    </div>
    <% else %>
      <div class="col s12 center">
        <p>Necesitas rellenar todos tus <b>datos físicos</b> para generar tu objetivo!</p>
      </div>
      <% end %>
</div>
<% end %>
