<h1>Objetivo</h1>
<%= link_to 'Edit Profile', edit_users_path %>

<h2>Características físicas</h2>
<ul class="collection">
  <li class="collection-item">Sexo: <%= current_user.sex %></li>
  <li class="collection-item">Edad: <%= current_user.age %></li>
  <li class="collection-item">Altura: <%= current_user.height %></li>
  <li class="collection-item">Peso: <%= current_user.weight %></li>
  <li class="collection-item">Actividad: <%= current_user.activity %></li>
</ul>


<h2>Objetivo generado</h2>
<ul>
  <li>Calorías: <%= current_user.calories %></li>
  <li>Proteínas: <%= current_user.protein %></li>
  <li>Grasas: <%= current_user.fat %></li>
  <li>Carbohidratos: <%= current_user.carbs %></li>
</ul>
