<h1>Producto</h1>

<ul>
  <li><strong>Nombre:</strong> <%= @product.name %></li>
  <li><strong>Descripción:</strong> <%= @product.description %></li>
  <li><strong>Categoría:</strong> <%= @product.category %></li>
  <li><strong>Imagen:</strong> <img src="<%= @product.img %>" alt="<%= @product.name %>"></li>
  <li><strong>Calorías:</strong> <%= @product.calories %></li>
  <li><strong>Proteínas:</strong> <%= @product.protein %></li>
  <li><strong>Grasas:</strong> <%= @product.fat %></li>
  <li><strong>Carbohidratos:</strong> <%= @product.carbs %></li>
  <li><strong>Precio:</strong> <%= @product.price %></li>
</ul>
