<li class="js-nav-link-home"><%= link_to 'Inicio', root_path %></li>
<li class="js-nav-link-products"><%= link_to 'Productos', products_path %></li>
<li class="js-nav-link-objective"><%= link_to 'Objetivo', '/objective' %></li>
<% if user_signed_in? %>
  <li class="js-nav-link-order"><%= link_to 'Pedido', new_order_path %></li>
  <li class="js-nav-link-orders"><%= link_to 'Tus pedidos', '/orders' %></li>
  <li class="js-nav-link-profile"><%= link_to 'Perfil', '/users' %></li>
  <li><%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %></li>
<% else %>
  <li class="js-nav-link-login"><%= link_to 'Acceso', new_user_session_path %></li>
  <li class="js-nav-link-register"><%= link_to 'Registro', new_user_registration_path %></li>
<% end %>
