<!DOCTYPE html>
<html>
<head>
  <title>Macromeal</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

  <%= render 'layouts/navbar' %>
  <%= render 'layouts/alerts' %>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
